/* 👇 Make sure the styles are applied in the correct order */


@layer mantine, mantine-datatable;


/* Global CSS Styles 
######################
File Sections by lines
1- 12-20 ==>  font-face
2-  ==>  root
3-  ==>  Selects all elements
4-  ==>  body
5-  ==>  other elements
###################### */

/* Pages / Components Styles Guide:

# The styling structure working like that:

# First, the section general styles

# Second, the section media queries

# All Global-Variables are declared in global.css
# under the ":root" element

# Any Local Scoped Variablea are declared inside
# the selector with description comments. 

*/

/* Font ==> English & Arabic Font ==> ["Montserrat"] */

/* Normal */


@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 900;
  font-style: normal;
  font-display: auto;
}

/* Italic */
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 900;
  font-style: italic;
  font-display: auto;
}

/* ------> Start of Global CSS Selectors */

/* ==> Root Styles ==> */



:root {
  /* Global Varibales */

  /* Global Varibales Guide
  # 
  # fsz = font-size
  # fw  = font-weight
  # btn = button
  # clr = color
  # bkg = background
  # p   = paragraph element
  */

  /* -----> Global Varibales  */

  /* === -----------------| Colors Start|----------------- ===  */

  /* === Main Colors Palette ===  */
  --white-color: #fff;
  --black-color: #000;
  --dark-color: #1e293b;
  --primary-color: #774dd3;
  --secondery-color: #64748b;
  --info-color: #55a6f8;
  --success-color: #67c23a;
  --danger-color: #ea4e3d;
  --warning-color: #f19937;

  /* === Light Neutrals Colors Palette ===  */

  --gray-100-color: #f9fafb;
  --gray-200-color: #e9ecef;
  --gray-300-color: #dde0e5;
  --gray-400-color: #ced4da;
  --gray-500-color: #adb5bd;
  --gray-600-color: #6c757d;
  --gray-700-color: #495057;
  --gray-800-color: #343a40;
  --gray-900-color: #212529;

  /* Buttons Colors */

  --blue-btn-bkg: rgb(0, 100, 230);
  --blue-btn-text-color: #c2f6ff;

  --purple-btn-bkg: var(--primary-color);
  --purple-btn-text-color: #fff;
  /*  === Custom Colors === */
  --gray-custom-color: #2d2f31;
  --background-color: var(--gray-200-color);
  --paragraph-color: var(--gray-700-color);
  /* === -----------------| Colors End |----------------- ===  */
  /* === -----------------| Spaces Start |----------------- ===  */
  --max-width: 1440px;
  --main-width: 1240px;
  /*
   == Spacers ::Alternative for margins::
    [use as an empty div
   with padding-block or 
   use the utility classes] ==
    */
  --spacer1: 0.25rem;
  --spacer2: 0.5rem;
  --spacer3: 1rem;
  --spacer4: 1.25rem;
  --spacer5: 1.5rem;
  --spacer6: 1.75rem;
  --spacer7: 2rem;
  --spacer8: 2.25rem;
  --spacer9: 2.5rem;
  --spacer10: 2.75rem;
  --spacer11: 3rem;
  --section-padding-block: calc(2rem + 2vw);
  --section-padding-top: 1.5rem;
  --section-padding-bottom: 1.5rem;
  --section-padding-left: 1.5rem;
  --section-padding-right: 1.5rem;

  /* === -----------------| Spaces End |----------------- ===  */

  /* Font Weight */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  /* --fw-900: 900; */

  /* Headings */

  --title-small-fsz: calc(10px + 5vw);
  --title-meduim-fsz: clamp(1.5rem, 5vw, 2rem);
  --title-large-fsz: clamp(2.6rem, 3.8vw, 3.6rem);

  /*
   Minor Third ==> 1.200 
   Large Font sizes
     */

  --h1-fsz: 2.986rem; /* ==> 47.78px */
  --h2-fsz: 2.488rem; /* ==> 39.81px */
  --h3-fsz: 2.074rem; /* ==> 33.18px */
  --h4-fsz: 1.728rem; /* ==> 27.65px */
  --h5-fsz: 1.44rem; /* ==> 23.04px */
  --h6-fsz: 1.2rem; /* ==> 19.2px */

  /*
   Major Second ==> 1.125
   Small Font sizes
     */

  --h1-fsz-compact: 2.027rem; /* ==> 32.44px */
  --h2-fsz-compact: 1.802rem; /* ==> 28.83px */
  --h3-fsz-compact: 1.602rem; /* ==> 25.63px */
  --h4-fsz-compact: 1.424rem; /* ==> 22.78px */
  --h5-fsz-compact: 1.266rem; /* ==> 20.25px */
  --h6-fsz-compact: 1.125rem; /* ==> 18px */

  /*
   Custom Sizes ==> Percentage [ 45% ==> 260% ]
     */

  --font-size-base: clamp(1.3rem, 1.9vw, 1.7rem);
  --font-size-xxx-small: 45%;
  --font-size-xx-small: 55%;
  --font-size-x-small: 62%;
  --font-size-small: 80%;
  --font-size-medium: 100%;
  --font-size-large: 125%;
  --font-size-x-large: 160%;
  --font-size-xx-large: 200%;
  --font-size-xxx-large: 260%;

  --font-size-body-xlarge: 19px;
  --font-size-body-large: 16px;
  --font-size-body: 14px;
  --font-size-body-small: 12px;
  --font-size-body-xsmall: 10px;

  --heading-width: fit-content;
  --heading-line-height: calc(1em + 0.725rem);
  --heading-padding-top: 1.25rem;
  --heading-padding-bottom: 1.25rem;
  --heading-padding-block: 1.25rem;
  --heading-padding-inline: 1.25rem;

  /* Paragraphs */

  --p-fsz-large: 1.35rem; /* 21.6px */
  --p-fsz-meduim: 1.125rem; /* 18px */
  --p-fsz-small: 1rem; /* 16px */
  --p-width: 90%;
  --p-padding-top: 1.25rem;
  --p-padding-bottom: 1.25rem;

  /* Buttons */

  --btn-fsz-large: 1.6rem;
  --btn-fsz-meduim: 1.3rem;
  --btn-fsz-small: 1rem;

  /* --p-small-fsz: clamp(1.125rem, 2vw, 1.25rem);
  --p-large-fsz: clamp(1.125rem, 4vw, 1.5rem);
  --p-small-width: clamp(30ch, 50%, 45ch);
  --p-large-width: clamp(35ch, 50%, 65ch); */
  /* Line Height */
  --line-height-1-3: 1.3;
  --line-height-1-6: 1.6;
  /* Nav item */
  --nav-item-fsz: 1.125rem;
  --nav-item-fw: bold;
  /* Border Radius */
  --border-radius-30: 1.875rem;
  --border-radius-28: 1.75rem;
  --border-radius-16: 1rem;
  --border-radius-8: 0.5rem;

  /* --background-color: #1f1f1f;
    /* --btn-red-clr: #9f0414;
  --btn-blue-clr: #2f5a74; 
  --secondry-background-color: #e3eef4;
  --p-color: #5b5f62;  */
  /* About Page Paragraphs color */

  /* ------> The oppsite of the background-color */

  /* --inverted-background-color: #fff; */

  /*  The oppsite of the background-color <----- */

  /* ------> mobile-menu-backkgroud-color */

  /* --mobile-menu-bkg-clr: hsla(213deg, 43%, 4%, 95%); */

  /* mobile-menu-backkgroud-color <------ */

  /* --red-color: #9f0414;
  --grey-color: #3c4856c2;
  --secondry-color: #2d2f31;
  --primary-color: #fff;
  --pale-black-color: #2f2e2e;
  --form-input-clr: #f3f6fc; */

  /* ------> Fixed text colors for light/dark theme 
  same colors on both color-scheme
  */

  /* Fixed text colors for light/dark theme <------ 
  same colors on both color-scheme
  */

  /*  Linear Gradient Colors*/
  --gradient-color-red: linear-gradient(
    336deg,
    #da2c08 0%,
    #e24e72 49.49%,
    #395ab0 100%
  );
  --gradient-color-variant-315deg: conic-gradient(
    from 315deg,
    #774ed3,
    #56a7f8
  );
  --gradient-color-variant-45deg: conic-gradient(from 45deg, #774ed3, #56a7f8);
  --gradient-color-dark-radial: radial-gradient(
    circle,
    hsla(5deg, 28%, 72%, 100%) 13%,
    hsla(127deg, 27%, 31%, 100%) 48%,
    hsla(170deg, 27%, 56%, 100%) 92%
  );

  /*  Global Varibales <----- */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  /* background: var(--background-color); */
  /* color: var(--text-color-light); */
  margin: 0 auto;
  /* max-width: var(--max-width); */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* :lang(ar) {
  font-family: "Readex Pro", sans-serif;
} */

/* .main-container {
  padding-top: 64px;
  margin: 0px auto;
} */

/* ------------------------------------------------ */

/* ===============================Global Styles=============================== */

input,
textarea,
button {
  font-family: inherit;
}

textarea {
  resize: none;
}

/*------------------------------------*    #IMAGES
  \*------------------------------------*/
/**
   * 1. Fluid images for responsive purposes.
   * 2. Offset `alt` text from surrounding copy.
   * 3. Setting `vertical-align` removes the whitespace that appears under `img`
   *    elements when they are dropped into a page as-is. Safer alternative to
   *    using `display: block;`.
   */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */
}

/**
     * 1. If a `width` and/or `height` attribute have been explicitly defined, let’s
     *    not make the image fluid.
     */
img[width],
img[height] {
  /* [1] */
  max-width: none;
}

li {
  list-style: none;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  /* text-wrap: balance; */
}

/*
   == Spacers [use as an empty div
   with the utility class] ==
    */
.spacer1 {
  padding-block: var(--spacer1);
}
.spacer2 {
  padding-block: var(--spacer2);
}
.spacer3 {
  padding-block: var(--spacer3);
}
.spacer4 {
  padding-block: var(--spacer4);
}
.spacer5 {
  padding-block: var(--spacer5);
}
.spacer6 {
  padding-block: var(--spacer6);
}
.spacer7 {
  padding-block: var(--spacer7);
}
.spacer8 {
  padding-block: var(--spacer8);
}
.spacer9 {
  padding-block: var(--spacer9);
}
.spacer10 {
  padding-block: var(--spacer10);
}
.spacer11 {
  padding-block: var(--spacer11);
}

.button {
  text-align: center;
  /* ------> Responsive font size  */
  font-size: 1.3rem;
  /*  Responsive font size <------ */
  font-weight: bold;
  border-radius: 2.8rem;
  min-width: 9rem; /* to keep a min width for the btns */
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding-inline: 2.25rem;
  padding-block: 0.8rem;
}

/* Navbar mobile menu control class for 
   open/close state */

.nav-open {
  overflow: hidden;
  height: 100vh;
}

/*  END of Global CSS Selectors */
