.container {
  display: grid;
  grid-template-columns: 35% 65%;
  justify-content: space-between;
}

.right__side {
  padding-inline: var(--heading-padding-inline);
  /* padding-left: 18rem; */
  /* width: 70%; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right__side__logo__img {
  display: none;
}

@media screen and (max-width: 992px) {
  .container {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .right__side {
    padding-block: 2rem;
  }

  .right__side__logo__img {
    display: block;
    padding-block: 1rem 1.5rem;
  }
}
