.menu__item__link {
  display: flex;
  column-gap: 0.6rem;
  align-items: center;
  padding-block: 0.875rem;
  padding-inline: 1rem;
  font-size: 1rem;
}

.active {
  width: auto;
  background: linear-gradient(
    180deg,
    #f2f2f2 -77.59%,
    rgba(242, 242, 242, 0) 136.21%
  );

  /* padding-inline: 2.5rem; */
  border-radius: 10px;
}
